.carousel-indicators li {
    background-color: #444444;
}
.carousel-indicators .active {
    background-color: #aaaaaa;
}
/* Title text */
.carousel-caption h5 {
color:          #222222 !important;
}
/* Description text */
.carousel-caption p {
color:          #222222 !important;
}

div.p-wrapper{
    padding: 100px 0 0;
}

div.c-wrapper{
    width: 80%; /* for example */
    margin: auto;
}
div.d-wrapper{
    width: 50%; /* for example */
    margin: auto;
}
div.r-wrapper{
    width: 85%; /* for example */
    margin: auto;
}
.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{
width: 100%; /* use this, or not */
margin: auto;
}
.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
}

